<header>
    <div class="wrapper">
        <a href="/" class="header-nav-link app-logo">
            <img src="/img/logo/normal.png" alt="SUPERCHEF">
            <img src="/img/logo/small.png" alt="S" class="small">
        </a>
    </div>

    <div class="wrapper">
        <a href="/" class="header-nav-link">
            <img src="/img/header_icon/customer.png" alt="Customers">
        </a>
        <a href="/" class="header-nav-link">
            <img src="/img/header_icon/vendor.png" alt="Vendors">
        </a>
        <a href="/" class="header-nav-link">
            <img src="/img/header_icon/admin.png" alt="Administrators">
        </a>
        <a href="/" class="header-nav-link">
            <img src="/img/header_icon/venue.png" alt="Venues">
        </a>
        <a href="/" class="header-nav-link">
            <img src="/img/header_icon/category.png" alt="Categories">
        </a>
        <button class="header-nav-link pfp">
            <img src="/img/pfp.png" alt="Pfp">
            <div class="dropdown-menu">
                <a href="/Account">Account</a>
                <a href="/Account/Device">Device</a>
            </div>
        </button>
    </div>
</header>