@model CategoryCard

<a href="@Model.Link" class="category-container">
    <img src="@Model.Image" alt="Category Image">

    <div class="info">
        <div class="name">@Model.Name</div>
    </div>
</a>