@model CategoryCardDM

<div class="category-card">
    <a href="@Model.Link"></a>
    <img src="@Model.Image" alt="Image">

    <div class="info">
        <div class="name">@Model.Name</div>
    </div>
</div>