@model string

<div id="no-results" class="container" data-no="color padding" data-flex="column center">
    <div class="icon">(˚Δ˚)b</div>
    <div class="text">@(Model ?? "No Results Found")</div>
</div>