@{
    ViewBag.Title = $"Error {ViewBag.StatusCode} | Supershow";
}

@section head {
    <style>
        #error-container {
            width: 100%;
            height: 100%;
            font-family: var(--font-display);
        }

        #error-container * {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: auto;
            margin-top: -3rem;
        }

        #error-container .status-code {
            font-size: 15rem;
            color: var(--text-status-code);
        }

        #error-container .message {
            font-size: 50px;
        }

        #error-container .description {
            margin-top: 4rem
        }

        #error-container [data-button] {
            margin-top: 5rem;
        }
    </style>
}

<style>
    main>.container * {
        font-family: var(--font-display);
    }

    main>.container .wrapper {
        display: grid;
        grid-template-areas: "stack";
        place-items: center;
    }

    main>.container .wrapper>* {
        grid-area: stack;
        margin: 0;
    }

    main>.container .status-code {
        font-size: 15rem;
        color: var(--text-status-code);
    }

    main>.container .message {
        font-size: 3rem;
    }

    main>.container .description {
        align-self: end;
        font-size: 1.25rem;
    }

    main>.container [data-button] {
        margin-top: 1rem;
    }
</style>

<div class="container container-center" data-no-color data-center-items="column">
    <div class="wrapper">
        <h1 class="status-code">@ViewBag.StatusCode</h1>
        <div class="message">@ViewBag.Message</div>
        <div class="description">@ViewBag.Description</div>
    </div>
    <a href="/" data-button="accent">Back to Homepage</a>
</div>