@model LoginVM
@inject IConfiguration cf

@{
    var siteKey = cf["RecaptchaSettings:SiteKey"];
}

<form method="post" class="container container-center" data-limit-container>
    <input type="hidden" id="recaptcha-token-input" asp-for="RepatchaToken" />
    
    <div class="title">Welcome to Superchef</div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <div class="form-input">
            <input asp-for="Email" />
        </div>
        <span asp-validation-for="Email"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <div class="form-input">
            <input asp-for="Password" />
            <input type="checkbox" class="password-show-button">
        </div>
        <span asp-validation-for="Password"></span>
    </div>

    <div class="form-group">
        <div id="captcha-element"></div>
        <span asp-validation-for="RepatchaToken"></span>
    </div>

    <div class="form-group space-between">
        <button type="submit">Login</button>
        <a class="" href="@Url.Action("ForgotPassword", "Auth")">Forgot Password?</a>
    </div>

    <div class="form-group">
        <span>New User?&nbsp</span>
        <a href="@Url.Action("Register", "Auth")" data-preserve-search-params>Register</a>
    </div>
</form>

@section foot {
    <script>
        var recaptchaLoadCallback = function () {
            grecaptcha.render("captcha-element", {
                "sitekey": "@siteKey"
            })
        }

        $("main > form").on("submit", function () {
            var token = grecaptcha.getResponse()
            $("#recaptcha-token-input").val(token)
        })
    </script>
    <script src="https://www.google.com/recaptcha/api.js?onload=recaptchaLoadCallback&render=explicit" async defer></script>
}