@{
    decimal ratingValue = 4.3m;
    string currentUrl = ViewBag.CurrentUrl;
}

@section head {
    <style>
        .rating-container {
            display: flex;
            align-items: center;
            gap: 0.25rem;
        }

        .rating-stars-container {
            display: flex;
            width: max-content;
            margin-top: -3px;
        }

        .rating-stars-container .empty-star {
            background-image: url("/img/star_empty.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 1rem;
            height: 1rem;
            margin: 0 2px;
        }

        .rating-stars-container .star-setter {
            overflow: hidden;
            height: 100%;
        }

        .rating-stars-container .empty-star:nth-child(1) .star-setter {
            width: calc(
                    @ratingValue
                    * 100%);
        }

        .rating-stars-container .empty-star:nth-child(2) .star-setter {
            width: calc((
                        @ratingValue
                        * 100%) - (1 * 100%));
        }

        .rating-stars-container .empty-star:nth-child(3) .star-setter {
            width: calc((
                        @ratingValue
                        * 100%) - (2 * 100%));
        }

        .rating-stars-container .empty-star:nth-child(4) .star-setter {
            width: calc((
                        @ratingValue
                        * 100%) - (3 * 100%));
        }

        .rating-stars-container .empty-star:nth-child(5) .star-setter {
            width: calc((
                        @ratingValue
                        * 100%) - (4 * 100%));
        }

        .rating-stars-container[data-rating="0"] .empty-star:nth-child(1) .star-setter {
            width: 0%;
        }

        .rating-stars-container[data-rating="1"] .empty-star:nth-child(1) .star-setter,
        .rating-stars-container[data-rating="2"] .empty-star:nth-child(1) .star-setter,
        .rating-stars-container[data-rating="3"] .empty-star:nth-child(1) .star-setter,
        .rating-stars-container[data-rating="4"] .empty-star:nth-child(1) .star-setter,
        .rating-stars-container[data-rating="5"] .empty-star:nth-child(1) .star-setter {
            width: 100%;
        }

        .rating-stars-container[data-rating="0"] .empty-star:nth-child(2) .star-setter,
        .rating-stars-container[data-rating="1"] .empty-star:nth-child(2) .star-setter {
            width: 0%;
        }

        .rating-stars-container[data-rating="2"] .empty-star:nth-child(2) .star-setter,
        .rating-stars-container[data-rating="3"] .empty-star:nth-child(2) .star-setter,
        .rating-stars-container[data-rating="4"] .empty-star:nth-child(2) .star-setter,
        .rating-stars-container[data-rating="5"] .empty-star:nth-child(2) .star-setter {
            width: 100%;
        }

        .rating-stars-container[data-rating="0"] .empty-star:nth-child(3) .star-setter,
        .rating-stars-container[data-rating="1"] .empty-star:nth-child(3) .star-setter,
        .rating-stars-container[data-rating="2"] .empty-star:nth-child(3) .star-setter {
            width: 0%;
        }

        .rating-stars-container[data-rating="3"] .empty-star:nth-child(3) .star-setter,
        .rating-stars-container[data-rating="4"] .empty-star:nth-child(3) .star-setter,
        .rating-stars-container[data-rating="5"] .empty-star:nth-child(3) .star-setter {
            width: 100%;
        }

        .rating-stars-container[data-rating="0"] .empty-star:nth-child(4) .star-setter,
        .rating-stars-container[data-rating="1"] .empty-star:nth-child(4) .star-setter,
        .rating-stars-container[data-rating="2"] .empty-star:nth-child(4) .star-setter,
        .rating-stars-container[data-rating="3"] .empty-star:nth-child(4) .star-setter {
            width: 0%;
        }

        .rating-stars-container[data-rating="4"] .empty-star:nth-child(4) .star-setter,
        .rating-stars-container[data-rating="5"] .empty-star:nth-child(4) .star-setter {
            width: 100%;
        }

        .rating-stars-container[data-rating="0"] .empty-star:nth-child(5) .star-setter,
        .rating-stars-container[data-rating="1"] .empty-star:nth-child(5) .star-setter,
        .rating-stars-container[data-rating="2"] .empty-star:nth-child(5) .star-setter,
        .rating-stars-container[data-rating="3"] .empty-star:nth-child(5) .star-setter,
        .rating-stars-container[data-rating="4"] .empty-star:nth-child(5) .star-setter {
            width: 0%;
        }

        .rating-stars-container[data-rating="5"] .empty-star:nth-child(5) .star-setter {
            width: 100%;
        }

        .rating-stars-container .star {
            background-image: url("/img/star.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 1rem;
            height: 1rem;
        }
    </style>

    <style>
        main>.container {
            max-width: 70rem;
        }

        #item-details-container {
            display: grid;
            grid-template-columns: 25.5rem 1fr;
            grid-template-areas:
                "image info"
                "social info";
            column-gap: 2rem;
            row-gap: 0.5rem;
        }

        .image-container {
            grid-area: image;
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
        }

        .info-container {
            grid-area: info;
        }

        .social-container {
            grid-area: social;
            display: flex;
            gap: 0.5rem;
        }

        .image-container>img {
            width: 100%;
            aspect-ratio: 1 / 1;
        }

        #gallery-container {
            width: calc(100% + 2px);
            margin-left: -1px;
            display: flex;
            gap: 0.75rem;
            height: 4.5rem;
            overflow: auto;
            scroll-behavior: smooth;
            anchor-name: --gallery-container;
        }

        #gallery-container::-webkit-scrollbar {
            display: none;
        }

        #gallery-container::scroll-button(left),
        #gallery-container::scroll-button(right) {
            content: "";
            width: 1.75rem;
            height: 1.75rem;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.3s ease;
            background-color: var(--btn-primary-bg);
            background-size: 90%;
            background-position: center;
            background-image: url("/img/left_white.png");
            position: absolute;
            position-anchor: --gallery-container;
            position-area: left center;
            translate: 50%;
        }

        #gallery-container::scroll-button(right) {
            background-image: url("/img/right_white.png");
            position-area: right center;
            translate: -50%;
        }

        #gallery-container::scroll-button(left):hover,
        #gallery-container::scroll-button(right):hover {
            background-color: var(--btn-primary-hover);
        }

        #gallery-container::scroll-button(left):disabled,
        #gallery-container::scroll-button(right):disabled {
            background-color: var(--bg-muted);
            opacity: 0;
            pointer-events: none;
        }

        #gallery-container>img {
            height: 100%;
            aspect-ratio: 1 / 1;
            cursor: pointer;
            transition: filter 0.3s ease;
        }

        #gallery-container>img:not(.selected):hover {
            filter: brightness(0.8);
        }

        #gallery-container img.selected {
            border: solid 0.25rem var(--border-active);
        }

        .info-container .name {
            font-size: 1.3rem;
            font-weight: var(--font-weight-semibold);
            font-family: var(--font-display);
            margin-bottom: 0.75rem;
        }

        .info-container .stat {
            display: flex;
            align-items: center;
            color: var(--text-secondary);
            font-family: var(--font-display);
            gap: 0.5rem;
            margin-bottom: 1.5rem;
        }

        .info-container .stat .review::after {
            content: " Reviews"
        }

        .info-container .stat .review[data-count="1"]::after {
            content: " Review"
        }

        .info-container .price {
            display: flex;
            margin-bottom: 2rem;
        }

        .info-container .price span {
            color: var(--text-price);
            text-shadow: var(--shadow-price);
            font-family: var(--font-display);
            font-size: 1.3rem;
            font-weight: var(--font-weight-medium);
        }

        .info-container .price span::before {
            content: "RM";
            color: var(--text-price);
            font-family: var(--font-primary);
            font-size: 0.9rem;
            font-weight: var(--font-weight-bold);
            margin-right: 0.25rem;
        }

        .info-container .price:has(:nth-child(2)) span:first-child::after {
            content: "—";
            font-family: var(--font-display);
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }

        .info-container [data-column-container] {
            column-gap: 1rem;
            row-gap: 1rem;
            align-items: baseline;
        }

        .info-container [data-column-container]> :nth-child(n + 1) {
            font-family: var(--font-display);
            font-weight: var(--font-weight-medium);
        }

        .info-container [data-column-container]>.custom-tick-container {
            align-items: flex-start;
            max-height: 15rem;
            overflow: auto;
        }

        .info-container [data-column-container]>div:has(.form-group) {
            display: flex;
            align-items: baseline;
            gap: 1rem;
        }

        .info-container [data-column-container] .form-group {
            flex: 1;
            max-width: 10rem;
        }

        .info-container [data-column-container] .form-group input {
            text-align: center;
        }

        #stock-count {
            color: var(--text-secondary);
            font-size: 0.8rem;
        }

        #stock-count::after {
            content: " stock available";
        }

        #add-to-favourite-button {
            width: 1.5rem;
            height: 1.5rem;
            background-image: url("/img/favourite_border.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        #add-to-favourite-button.favourite {
            background-image: url("/img/favourite.png");
        }

        #add-to-favourite-button:hover {
            filter: brightness(0.8);
        }

        .social-container a {
            width: 1.5rem;
            height: 1.5rem;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .social-container a:hover {
            filter: brightness(0.8);
        }

        .social-container .facebook {
            background-image: url("/img/social/facebook.png");
        }

        .social-container .x {
            background-image: url("/img/social/x.png");
        }

        .social-container .whatsapp {
            background-image: url("/img/social/whatsapp.png");
        }

        .social-container .telegram {
            background-image: url("/img/social/telegram.png");
        }

        @@media (max-width: 750px) {}
    </style>
}



<div id="item-details-container" class="container">
    <div class="image-container">
        <img src="" alt="">
        <div id="gallery-container">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
    </div>
    <div class="info-container">
        <div class="name">abc</div>
        <div class="stat">
            <div class="rating-container">
                <span>@FormatService.ToRatingFormat(4.3m)</span>
                <div class="rating-stars-container">
                    <div class="empty-star">
                        <div class="star-setter">
                            <div class="star"></div>
                        </div>
                    </div>
                    <div class="empty-star">
                        <div class="star-setter">
                            <div class="star"></div>
                        </div>
                    </div>
                    <div class="empty-star">
                        <div class="star-setter">
                            <div class="star"></div>
                        </div>
                    </div>
                    <div class="empty-star">
                        <div class="star-setter">
                            <div class="star"></div>
                        </div>
                    </div>
                    <div class="empty-star">
                        <div class="star-setter">
                            <div class="star"></div>
                        </div>
                    </div>
                </div>
            </div>
            <span>|</span>
            <span class="review" data-count="5">5</span>
            <span>|</span>
            <span>6 Sold</span>
        </div>
        <div class="price">
            <span>@FormatService.ToRMFormat(100, false)</span>
            <span>@FormatService.ToRMFormat(200, false)</span>
        </div>

        <form action="">
            <div data-column-container="2">
                <div>Variant</div>
                <div class="custom-tick-container center-text-container">
                    @for (int i = 0; i < 30; i++)
                    {
                        <label>
                            <input type="radio" name="Variant" value="@i">
                            <div>
                                <div class="text">@i Variant</div>
                            </div>
                        </label>
                    }
                </div>

                <div>Quantity</div>
                <div>
                    <div class="form-group">
                        <div class="form-input">
                            <button type="button" data-quantity-button="minus">&#8203;</button>
                            <input data-no-negative type="number" min="1" max="10" step="1">
                            <button type="button" data-quantity-button="add"></button>
                        </div>
                        <span class="field-validation-error">
                            <span>sample error</span>
                        </span>
                    </div>

                    <span id="stock-count">3</span>
                </div>
            </div>

            <div class="container" data-no="padding color margin" data-flex="gap between">
                <button data-button="accent">Add to Cart</button>
                <a href="/" id="add-to-favourite-button"></a>
            </div>
        </form>
    </div>
    <div class="social-container">
        <a class="facebook" href="https://t.me/share/url?url=@currentUrl" target="_blank"></a>
        <a class="x" href="https://x.com/intent/tweet?url=@currentUrl" target="_blank"></a>
        <a class="whatsapp" href="https://wa.me/?text=@currentUrl" target="_blank"></a>
        <a class="telegram" href="https://t.me/share/url?url=@currentUrl" target="_blank"></a>
    </div>
</div>

@{
    var storeDetails = new StoreDetailsContainerDM
    {
        Image = "abc",
        Name = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, labore nisi! Repellat itaque minus enim tempore, amet recusandae blanditiis eius!",
        Slug = "slug",
        Rating = 2.0m,
        TotalReviews = 123828319,
        Venue = "Red Brick",
        JoinedAt = DateTime.Now,
        ViewStoreButton = true
    };
}

<partial name="_StoreDetailsContainer" model="storeDetails" />

<div class="container">
    <div class="title">Description</div>
    <p style="white-space: pre-wrap;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. A labore voluptatem modi
        in consequatur ipsum cum dicta
        corporis consectetur illo, magni fugit nobis saepe ex fuga possimus doloribus fugiat ullam molestiae quisquam
        neque quos. Reiciendis quidem illo cum est beatae quam architecto a eveniet maiores voluptatem quae sequi,
        impedit asperiores ad rem distinctio neque, error obcaecati aperiam! Labore quam quae aliquid beatae nihil alias
        sequi accusantium accusamus a fugit? Laudantium magni harum maiores error vitae perferendis incidunt? Corrupti,
        iste molestias. Excepturi, tempore. Aperiam, quisquam! Eius maxime vel molestiae minus voluptas tempora
        architecto iste ullam perspiciatis aliquid, earum veniam quas. Impedit error eum molestias libero, velit,
        temporibus distinctio consectetur aut voluptates tempore aspernatur odit earum facere? Labore nobis consequatur
        quaerat eligendi, atque totam. Nostrum, quis! Ab incidunt nihil porro ipsam reprehenderit aliquam aperiam quas
        eius. Dolore, doloribus aperiam aliquid illo reprehenderit sunt molestiae reiciendis consequuntur blanditiis,
        eum sapiente consectetur vero dolores. Nisi a, perspiciatis modi vel, officia in laborum illo ipsam ducimus
        vitae, dolorum consequatur quis accusamus error libero cumque. Molestias non architecto animi soluta velit
        pariatur praesentium cum, optio quasi sunt? Laboriosam et vero molestias repellat praesentium accusamus, eum vel
        temporibus alias iste numquam. Adipisci vel eaque eum architecto rem!</p>
</div>


@section foot {
    <script src="/js/medium-zoom.min.js"></script>
    <script>
        $("#gallery-container img").on("click", function () {
            $("#gallery-container img.selected").removeClass("selected")
            $(this).addClass("selected")
            $(".image-container>img").attr("src", $(this).attr("src"))
        })

        mediumZoom('.image-container>img', {
            scrollOffset: 0,
            background: 'rgba(0, 0, 0, 0.9)',
        })
    </script>
}