@model SearchVM

<div class="container" data-no="color padding">
    <div class="result-text title normal">
        <img src="/img/info.png">
        Search results for &nbsp;&quot;<strong>@Model.Query</strong>&quot;
    </div>
</div>

<div class="listing-container container" data-no="color padding" data-result-container>
    @if (Model.Type == "Stores") {
        @foreach (var obj in Model.Results) 
        {
            Store store = (Store)obj;
            var card = new StoreCardDM
            {
                Image = $"/uploads/store/{store.Image}",
                Link = $"/Store/Info/{store.Slug}",
                Name = store.Name,
                ItemCount = store.Items.Count,
                Rating = store.Items.SelectMany(i => i.Reviews).Average(r => (decimal?)r.Rating) ?? 0m,
            };
            <partial name="_StoreCard" model="@card" />
        }
    } 
    else if (Model.Type == "Items")
    {
        @foreach (var obj in Model.Results) 
        {
            Item item = (Item)obj;
            ItemCardDM? card = new ItemCardDM
            {
                Link = $"/Item/Info/{item.Slug}",
                Image = $"/uploads/item/{item.Image}",
                Name = item.Name,
                Price = item.Variants.Select(v => (decimal?)v.Price).Min() ?? 0m,
                Rating = item.Reviews.Average(r => (decimal?)r.Rating) ?? 0m,
                Sold = item.Variants.SelectMany(v => v.OrderItems).Sum(oi => (int?)oi.Quantity) ?? 0
            };
            <partial name="_ItemCard" model="@card" />
        }
    }
</div>

<partial name="_NoResults" model="null" />

@Html.PagedListPager(Model.Results,
    page => Url.Action("Index", new {
        Query = Model.Query,
        Type = Model.Type,
        Venues = Model.Venues,
        Price = Model.Price,
        Rating = Model.Rating,
        Sort = Model.Sort,
        Categories = Model.Categories,
        Page = page
    }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(ManagePageService.GetPagedOption(), ManagePageService.GetAjaxOption())
)