@model SearchVM

@section head {
    <style>
        .result-text {
            display: flex;
            align-items: flex-start;
        }

        .result-text img {
            margin-top: -1px;
            margin-right: 0.3rem;
            height: 1.2rem;
            flex-shrink: 0;
        }

        main form:has(input[name="Type"][value="Stores"]:checked) [data-form-group-store] {
            display: none !important;
        }
    </style>
}

<form asp-action="Index" method="get" data-ajax="true" data-ajax-update="#ajax-result-container"
    data-ajax-complete="closeOverlay('filter-overlay')" class="container" data-no="color padding"
    data-flex="between gap">
    <input type="hidden" name="Query" asp-for="Query" data-clear-form-ignore>

    <div id="filter-overlay" class="overlay sidebar-overlay">
        <div class="content">
            <div class="overlay-header">
                <div class="title">Filter By</div>
                <div class="overlay-close"></div>
            </div>
            <div class="overlay-body">

                <div class="form-group">
                    <label>Venue</label>
                    <div class="custom-tick-container center-text small-text rounded-border">
                        <label>
                            <input type="checkbox" name="Venues" value="items">
                            <div>
                                <div class="text">Items</div>
                            </div>
                        </label>

                        <label>
                            <input type="checkbox" name="Venues" value="items">
                            <div>
                                <div class="text">Items</div>
                            </div>
                        </label>

                        <label>
                            <input type="checkbox" name="Venues" value="items">
                            <div>
                                <div class="text">Items</div>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="form-group" data-form-group-store>
                    <label>Price</label>
                    <div class="custom-tick-container center-text small-text rounded-border">
                        <label>
                            <input type="radio" name="Price" value="items">
                            <div>
                                <div class="text">Items</div>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label>Rating</label>
                    <div class="custom-tick-container center-text small-text rounded-border">
                        <label>
                            <input type="radio" name="Rating" value="items">
                            <div>
                                <div class="text">Items</div>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label>Sort By</label>
                    <div class="custom-tick-container center-text small-text rounded-border">
                        <label>
                            <input type="radio" name="Sort" value="items">
                            <div>
                                <div class="text">Items</div>
                            </div>
                        </label>

                        <label>
                            <input type="radio" name="Sort" value="items">
                            <div>
                                <div class="text">Items</div>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="form-group" data-form-group-store>
                    <label>Category</label>
                    <div class="custom-tick-container center-text small-text rounded-border">
                        <label>
                            <input type="checkbox" name="Categories" value="items">
                            <div>
                                <div class="text">Items</div>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="form-group"></div>
            </div>

            <div class="button-group-inline">
                <button type="button" data-button="accent" data-clear-form>Reset</button>
                <button type="submit" data-button>Apply</button>
            </div>
        </div>
    </div>

    <div class="custom-tick-container">
        @foreach (var type in Model.AvailableTypes)
        {
            <label>
                <input type="radio" name="Type" value="@type" data-clear-form-ignore data-auto-submit="clear" @(Model.Type
                                                                                                                              == type ? "checked" : "")>
                <div>
                    <div class="text">@type</div>
                </div>
            </label>
        }
    </div>

    <button type="button" id="filter-button">
        Filter
        <img src="/img/filter.png">
    </button>
</form>

<div id="ajax-result-container">
    <partial name="_SearchResults" model="Model" />
</div>

@section foot {
    <script>
        $("header form.search-container").on("submit", function (e) {
            e.preventDefault()

            const $form = $("main form")
            $form.find(`input[name="Query"]`).val($(this).find("input").val())

            $form.submit()
        })

        $(document).on("click", "#filter-button", function () {
            openOverlay("filter-overlay")
        })
    </script>
}