@{
    var stepData = new StepContainerDM
    {
        CurrentStep = 3,
        Title = "Confirm Order"
    };

    var summary = new SummaryContainerDM
    {
        TotalPrice = 25.50m,
        TotalItems = 3,
        ExitLink = "/Order/Slot",
        SubmitText = "Pay",
    };
}

@section head {
    <style>
    </style>
}

<partial name="_StepContainer" model="stepData" />

<div class="container" data-limit-container>
    <div class="title">Customer Details</div>

    <div data-column-container="3">
        <div>Name</div>
        <div>:</div>
        <div>John Doe</div>

        <div>Contact Number</div>
        <div>:</div>
        <div>012-3456789</div>
    </div>
</div>

<div class="container" data-limit-container>
    <div class="title">Pickup Details</div>

    <div data-column-container="3">
        <div>Date</div>
        <div>:</div>
        <div>31 Oct (Mon)</div>

        <div>Time</div>
        <div>:</div>
        <div>10:00 AM - 10:30 AM</div>

        <div>Venue</div>
        <div>:</div>
        <div>Redbrick</div>
    </div>
</div>

<div class="container" data-limit-container>
    <div class="title">
        Items Ordered
    </div>

    <div class="container" data-no="padding margin" data-flex="column gap">
        @{
            var mockItem1 = new OrderItemCardDM
            {
                Id = 1,
                Name = "Nasi Lemak",
                Variant = "Spicy",
                Quantity = 1,
                Subtotal = 12.00m,
                Link = null
            };
            var mockItem2 = new OrderItemCardDM
            {
                Id = 2,
                Name = "Teh Tarik",
                Variant = "Less Sweet",
                Quantity = 2,
                Subtotal = 6.50m,
                Link = null
            };
        }
        <partial name="_OrderItemCard" model="@mockItem1" />
        <partial name="_OrderItemCard" model="@mockItem2" />
    </div>
</div>

<form method="post" data-expired-timestamp="1764298333874" data-sticky-bottom>
    <partial name="_SummaryContainer" model="summary" />
</form>