<div class="container" data-limit-container>
    <div class="title">Order Details</div>

    <div data-column-container="2 center responsive" class="container" data-no="padding">
        <div id="qr-container"></div>
        <div data-column-container="3">
            <div>Id</div>
            <div>:</div>
            <div>idk Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, itaque?</div>

            <div>Date</div>
            <div>:</div>
            <div>IDK SUERP LONG</div>

            <div>Time</div>
            <div>:</div>
            <div>IDK SUERP LONG</div>

            <div>Total Price</div>
            <div>:</div>
            <div>IDK SUERP LONG</div>

            <div>Status</div>
            <div>:</div>
            <div>IDK SUERP LONG</div>
        </div>
    </div>
</div>

<div class="container" data-limit-container>
    <div class="title">Pickup Details</div>

    <div data-column-container="3">
        <div>Date</div>
        <div>:</div>
        <div>idk</div>

        <div>Time</div>
        <div>:</div>
        <div>idk</div>

        <div>Store</div>
        <div>:</div>
        <div><a href="">store link</a></div>

        <div>Venue</div>
        <div>:</div>
        <div>Redbrick</div>
    </div>
</div>

<div class="container" data-limit-container>
    <div class="title">Customer Details</div>

    <div data-column-container="3">
        <div>Name</div>
        <div>:</div>
        <div>idk</div>

        <div>Phone Number</div>
        <div>:</div>
        <div>idk</div>
    </div>
</div>

<div class="container" data-limit-container>
    <div class="title">Payment Details</div>

    <div data-column-container="3">
        <div>Payment Option</div>
        <div>:</div>
        <div>Grab Pay</div>

        <div>Paid At</div>
        <div>:</div>
        <div>29 Oct 2025 - 09:21 PM</div>
    </div>
</div>

<div class="container" data-limit-container>
    <div class="title">Ordered Items</div>

    <div class="container" data-no="padding margin" data-flex="column gap">
        @for (int i = 0; i < 10; i++)
        {
            var card = new OrderItemCard
            {
                Link = i == 0 ? null : "breh",
                Image = "",
                Id = i,
                Name = "item",
                Variant = "variant",
                Quantity = i,
                Subtotal = 100.00m
            };
            <partial name="_OrderItemCard" model="@card" />
        }
    </div>
</div>

@section foot {
    <script src="/js/qrcode.min.js"></script>
    <script>
        var bookingId = "12345";
        new QRCode(document.getElementById("qr-container"), bookingId);
    </script>
}