@model OrderSlotVM

@{
    var data = new StepContainerDM
    {
        CurrentStep = 2,
        Title = "Select Pickup Time"
    };

    var summary = new SummaryContainerDM
    {
        TotalPrice = 100m,
        TotalItems = 10,
        ExitLink = $"/Order/Customer/{Model.Id}"
    };
}

<partial name="_StepContainer" model="data" />

<form data-ajax="true" data-ajax-update="#ajax-result-container" data-ajax-failure="defaultOnFailure" method="get">
    <div id="ajax-result-container" class="container" data-limit-container>
        <partial name="_Slot" model="@Model" />
    </div>
</form>

<form method="post" data-expired-timestamp="@ViewBag.ExpiredTimestamp" data-sticky-bottom>
    <partial name="_SummaryContainer" model="summary" />
</form>