@section head {
    <style>
        .sales-container .title {
            text-align: center;
            margin-bottom: 1rem;
        }

        .sales-container table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            background-color: var(--bg-manage-table);
            border: 1px solid var(--border-primary);
            margin-top: 1.25rem;
            overflow-x: auto;
        }

        .sales-container th,
        .sales-container td {
            padding: 0.75rem 1rem;
            text-align: left;
            white-space: nowrap;
        }

        .sales-container tr th:first-child {
            position: sticky;
            left: 0;
            white-space: normal;
            overflow-wrap: break-word;
            width: clamp(12rem, 30vw, 20rem);
            min-width: min(30vw, 10rem);
        }

        .sales-container th {
            background-color: var(--bg-manage-table-th);
            color: var(--text-inverse);
            font-weight: normal;
            padding-right: 1.2rem;
        }

        .sales-container tr td {
            border-bottom: 1px solid var(--border-primary);
            white-space: nowrap;
        }

        .sales-container tr:last-child td {
            border-bottom: none;
        }

        .sales-container:has(input[type="radio"][value="annually"]:checked) .quarterly-table {
            display: none;
        }

        .sales-container:has(input[type="radio"][value="quarterly"]:checked) .annually-table {
            display: none;
        }
    </style>
}

<div class="container sales-container">
    <div class="title">Daily Sales Summary</div>

    <div class="container" data-no="padding color margin" data-overflow>
        <table class="annually-table">
            <tbody>
                <tr>
                    <th>Total Orders</th>
                    <td>100</td>
                </tr>
                <tr>
                    <th>Total Revenue</th>
                    <td>RM 100.00</td>
                </tr>
                <tr>
                    <th>Total Items Sold</th>
                    <td>100</td>
                </tr>
                <tr>
                    <th>Peak Pickup Slot</th>
                    <td>12:00 PM - 12:30 PM</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container sales-container" data-flex="column">
    <div class="title">Sales Report</div>
    <div class="custom-tick-container center-items">
        <label>
            <input type="radio" name="sales_report" value="annually" checked>
            <div class="text">Anually</div>
        </label>
        <label>
            <input type="radio" name="sales_report" value="quarterly">
            <div class="text">Quarterly</div>
        </label>
    </div>

    <div class="container" data-no="color padding" data-overflow>
        <table class="annually-table">
            <thead>
                <tr>
                    <th></th>
                    <th>2025</th>
                    <th>2024</th>
                    <th>2023</th>
                    <th>2022</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Total Revenue</th>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                </tr>
                <tr>
                    <th>Revenue Growth</th>
                    <td>100%</td>
                    <td>100%</td>
                    <td>100%</td>
                    <td>100%</td>
                </tr>
                <tr>
                    <th>Total Orders</th>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                </tr>
                <tr>
                    <th>Average Order Value</th>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                </tr>
            </tbody>
        </table>

        <table class="quarterly-table">
            <thead>
                <tr>
                    <th></th>
                    <th>2025 (Q4)</th>
                    <th>2025 (Q3)</th>
                    <th>2025 (Q2)</th>
                    <th>2025 (Q1)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Total Revenue</th>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                </tr>
                <tr>
                    <th>Revenue Growth</th>
                    <td>100%</td>
                    <td>100%</td>
                    <td>100%</td>
                    <td>100%</td>
                </tr>
                <tr>
                    <th>Total Orders</th>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                </tr>
                <tr>
                    <th>Average Order Value</th>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container sales-container">
    <div class="title">Sales By Items</div>
    <div class="custom-tick-container center-items">
        <label>
            <input type="radio" name="sales_items" value="annually" checked>
            <div class="text">Anually</div>
        </label>
        <label>
            <input type="radio" name="sales_items" value="quarterly">
            <div class="text">Quarterly</div>
        </label>
    </div>

    <div class="container" data-no="padding color" data-overflow>
        <table class="annually-table">
            <thead>
                <tr>
                    <th></th>
                    <th>2025</th>
                    <th>2024</th>
                    <th>2023</th>
                    <th>2022</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>38 - Burger</th>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                </tr>
                <tr>
                    <th>ID - Name</th>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                </tr>
                <tr>
                    <th>39 - Maggie Curry</th>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                </tr>
                <tr>
                    <th>100 - Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, sunt.</th>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                </tr>
            </tbody>
        </table>

        <table class="quarterly-table">
            <thead>
                <tr>
                    <th></th>
                    <th>2025 (Q4)</th>
                    <th>2025 (Q3)</th>
                    <th>2025 (Q2)</th>
                    <th>2025 (Q1)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>38 - Burger</th>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                </tr>
                <tr>
                    <th>ID - Name</th>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                </tr>
                <tr>
                    <th>39 - Maggie Curry</th>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                </tr>
                <tr>
                    <th>100 - Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, sunt.</th>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                    <td>RM 100.00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>