@model int

@section head {
    <style>
        main>.container {
            width: clamp(18rem, 100%, 100rem);
        }

        #loading-message,
        #output-message {
            background-color: var(--bg-card);
        }

        canvas {
            margin: auto;
            max-height: 70vh;
            max-height: 70dvh;
            max-width: 100%;
            margin-bottom: 1rem;
        }
    </style>
}

<div class="container" data-flex="center column">
    <div class="title">Scan QR Code</div>

    <div class="container" id="loading-message">
        🎥 Unable to access video stream (please make sure you have a webcam enabled)
    </div>

    <canvas hidden></canvas>

    <div class="container" id="output-message" hidden>
        No QR code detected
    </div>
</div>

@section foot {
    <script src="/js/jsQr.min.js"></script>
    <script>
        const tryDuration = 100
        const showDuration = 2000
        var repeatLoop = true
        var video = document.createElement("video");
        var canvasElement = $("canvas")[0];
        var canvas = canvasElement.getContext("2d");
        var loadingMessage = $("#loading-message")[0];
        var outputMessage = $("#output-message")[0];
        var triedId = {};

        function drawLine(begin, end, color) {
            canvas.beginPath();
            canvas.moveTo(begin.x, begin.y);
            canvas.lineTo(end.x, end.y);
            canvas.lineWidth = 4;
            canvas.strokeStyle = color;
            canvas.stroke();
        }

        // Use facingMode: environment to attemt to get the front camera on phones
        navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment" } }).then(function (stream) {
            video.srcObject = stream;
            video.setAttribute("playsinline", true); // required to tell iOS safari we don't want fullscreen
            video.play();
            requestAnimationFrame(tick);
        });

        async function tick() {
            loadingMessage.innerText = "⌛ Loading video..."
            if (video.readyState === video.HAVE_ENOUGH_DATA) {
                loadingMessage.hidden = true;
                canvasElement.hidden = false;
                outputMessage.hidden = false;

                canvasElement.height = video.videoHeight;
                canvasElement.width = video.videoWidth;
                canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);
                var imageData = canvas.getImageData(0, 0, canvasElement.width, canvasElement.height);
                var code = jsQR(imageData.data, imageData.width, imageData.height, {
                    inversionAttempts: "dontInvert",
                });

                if (code) {
                    drawLine(code.location.topLeftCorner, code.location.topRightCorner, "#FF3B58");
                    drawLine(code.location.topRightCorner, code.location.bottomRightCorner, "#FF3B58");
                    drawLine(code.location.bottomRightCorner, code.location.bottomLeftCorner, "#FF3B58");
                    drawLine(code.location.bottomLeftCorner, code.location.topLeftCorner, "#FF3B58");

                    if (triedId[code.data] == null) {
                        triedId[code.data] = {
                            error: null,
                            startTime: null,
                            showTime: null
                        }
                    }

                    if (triedId[code.data].error) {
                        for (const key in triedId) {
                            triedId[key].showTime = null
                        }
                        triedId[code.data].showTime = Date.now()
                        outputMessage.innerText = triedId[code.data].error
                    } else {
                        if (triedId[code.data].startTime == null) {
                            triedId[code.data].startTime = Date.now()
                        } else if (Date.now() - triedId[code.data].startTime > tryDuration) {
                            outputMessage.innerText = "Verifing..."

                            try {
                                await $.ajax(`/Store/ScanChallenge/@Model?orderId=${code.data}`, {
                                    success: function (data) {
                                        repeatLoop = false
                                        outputMessage.innerText = "Success"
                                        redirectToPage(`/Order/Edit/${code.data}`)
                                    },
                                    error: function (xhr, status, error) {
                                        for (const key in triedId) {
                                            triedId[key].showTime = null
                                        }
                                        triedId[code.data].error = `Error: ${xhr.responseText}`
                                        triedId[code.data].showTime = Date.now()
                                        outputMessage.innerText = triedId[code.data].error
                                    }
                                })
                            } catch (e) { }
                        }
                    }
                } else {
                    var showText = "No QR code detected"
                    for (const key in triedId) {
                        triedId[key].startTime = null

                        if (triedId[key].showTime != null) {
                            if (Date.now() - triedId[key].showTime > showDuration) {
                                triedId[key].showTime = null
                            } else {
                                showText = triedId[key].error
                            }
                        }
                    }
                    outputMessage.innerText = showText
                }
            }

            if (repeatLoop) {
                requestAnimationFrame(tick);
            }
        }
    </script>
}