@font-face {
	font-family: "Hammersmith One";
	src: url("/font/Hammersmith_One.ttf");
}

@font-face {
	font-family: "Bahnschrift";
	src: url("/font/Bahnschrift.ttf");
}

:root {
	/* Brand / Primary Colors */
	--color-primary: #613c25; /* main */
	--color-secondary: #e8d7bd; /* secondary */
	--color-accent: #0000ee; /* blue accent for highlights */

	/* Backgrounds */
	--bg-default: #f5f5f5; /* main page background */
	--bg-surface: #f2eee8; /* cards, panels */
	--bg-muted: #e1e1e1; /* muted sections */
	--bg-hover: #e7e6e6; /* hover effect for cards/buttons */
	--bg-overlay: rgba(0, 0, 0, 0.4); /* modal overlay / dimmer */
	--bg-inverse: #613c25; /* dark background for light text */
	--bg-header: #d6c9ba;
	--bg-footer: #cccccc;
	--bg-error: #f9e4e8;
	--bg-pure: #ffffff;
	--bg-toast: #8e8e8e;
	--bg-upload: rgba(165, 42, 42, 0.1);
	--bg-wrapper: rgba(0, 0, 0, 0.05);

	/* ------------------------Buttons------------------------ */
	/* Primary button */
	--btn-primary-bg: #b89a8b;
	--btn-primary-text: #ffffff;
	--btn-primary-hover: #936e5b;

	/* Accent button */
	--btn-accent-bg: #f0ad4e;
	--btn-accent-text: #ffffff;
	--btn-accent-hover: #be8836;

	/* Danger / Error button */
	--btn-danger-bg: #d9534f;
	--btn-danger-text: #ffffff;
	--btn-danger-hover: #c12e2a;

	/* Success button */
	--btn-success-bg: #5cb85c;
	--btn-success-text: #ffffff;
	--btn-success-hover: #449d44;

	/* Info / Neutral button */
	--btn-info-bg: #5bc0de;
	--btn-info-text: #ffffff;
	--btn-info-hover: #31b0d5;

	/* Disabled button */
	--btn-disabled-bg: #e7e6e6;
	--btn-disabled-text: #a3a3a3;
	--btn-disabled-hover: #e7e6e6;

	/* Status Colors */
	--status-success: #5cb85c;
	--status-error: #d9534f;
	--status-warning: #f0ad4e;
	--status-info: #5bc0de;
	--status-disabled: #6c757d;

	/* Text Colors */
	--text-primary: #1f2937;
	--text-secondary: #777777;
	--text-inverse: #ffffff;
	--text-label: #4b5563;
	--text-error: #e04562;

	/* Borders */
	--border-primary: #d1d5db;
	--border-active: #a57753;
	--border-divider: #d1d5db;

	/* Shadows / Effects */
	--shadow-primary: 0 0 0 2px rgba(97, 60, 37, 0.2);
	--shadow-danger: 0 0 0 2px rgba(224, 69, 98, 0.4);
	--shadow-pfp: 0 0 0 250px rgba(0, 0, 0, 0.5);

	/* Font families */
	--font-primary: "Bahnschrift", sans-serif; /* UI / body */
	--font-display: "Hammersmith One", sans-serif; /* Headings / Logo */

	/* Font weights */
	--font-weight-normal: 400;
	--font-weight-bold: 700;

	/* Font sizes */
	--font-size-xs: 0.75rem; /* 12px */
	--font-size-sm: 0.875rem; /* 14px */
	--font-size-md: 1rem; /* 16px */
	--font-size-lg: 1.25rem; /* 20px */
	--font-size-xl: 1.5rem; /* 24px */
	--font-size-2xl: 2rem; /* 32px */
	--font-size-3xl: 2.5rem; /* 40px */

	/* Font weights */
	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	/* Line heights */
	--line-height-sm: 1.2;
	--line-height-md: 1.5;
	--line-height-lg: 1.75;

	/* Letter spacing */
	--letter-spacing-normal: 0;
	--letter-spacing-wide: 0.05em;
	--letter-spacing-wider: 0.1em;
}

* {
	box-sizing: border-box;
}

html {
	font-size: clamp(14px, 1.5vw, 18px);
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-primary);
	background-color: var(--bg-default);
	color: var(--text-primary);
}

.page {
	display: grid;
	min-height: 100vh;
	min-height: 100dvh;
	grid-template-rows: auto 1fr;
}

/* Headings */
h1,
h2,
h3,
h4,
h5 {
	font-family: var(--font-display);
}

/* Font Sizes */
body {
	font-size: 1rem;
} /* 16px */
h1 {
	font-size: 2.5rem;
} /* 40px */
h2 {
	font-size: 2rem;
} /* 32px */
h3 {
	font-size: 1.5rem;
} /* 24px */
h4 {
	font-size: 1.25rem;
} /* 20px */
h5 {
	font-size: 1.125rem;
} /* 18px */

/* Links */
a,
[data-link] {
	color: var(--color-accent);
	text-decoration: none;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.3s ease;
}
a:visited {
	color: var(--color-accent);
}
a:hover,
[data-link]:hover {
	color: var(--text-secondary);
	text-decoration: underline;
}

/* Buttons */
button,
[data-button] {
	--_btn-color-bg: var(--btn-color-bg, var(--btn-primary-bg));
	--_btn-color-text: var(--btn-color-text, var(--btn-primary-text));
	--_btn-color-hover-bg: var(--btn-color-hover-bg, var(--btn-primary-hover));
	--_btn-color-hover-text: var(--btn-color-hover-text, var(--btn-primary-text));

	padding: 0.5rem 1rem;
	text-decoration: none !important;
	border: none;
	border-radius: 0.25rem;
	font-size: var(--font-size-md);
	font-family: var(--font-primary);
	cursor: pointer;
	transition: all 0.3s ease;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: var(--_btn-color-bg);
	color: var(--_btn-color-text) !important;
}
button:hover,
[data-button]:hover {
	background-color: var(--_btn-color-hover-bg);
	color: var(--_btn-color-hover-text);
}
[data-button="success"] {
	--btn-color-bg: var(--btn-success-bg);
	--btn-color-text: var(--btn-success-text);
	--btn-color-hover-bg: var(--btn-success-hover);
	--btn-color-hover-text: var(--btn-success-text);
}
[data-button="info"] {
	--btn-color-bg: var(--btn-info-bg);
	--btn-color-text: var(--btn-info-text);
	--btn-color-hover-bg: var(--btn-info-hover);
	--btn-color-hover-text: var(--btn-info-text);
}
[data-button="danger"] {
	--btn-color-bg: var(--btn-danger-bg);
	--btn-color-text: var(--btn-danger-text);
	--btn-color-hover-bg: var(--btn-danger-hover);
	--btn-color-hover-text: var(--btn-danger-text);
}
[data-button="accent"] {
	--btn-color-bg: var(--btn-accent-bg);
	--btn-color-text: var(--btn-accent-text);
	--btn-color-hover-bg: var(--btn-accent-hover);
	--btn-color-hover-text: var(--btn-accent-text);
}
button:disabled,
[data-button="disabled"] {
	--btn-color-bg: var(--btn-disabled-bg);
	--btn-color-text: var(--btn-disabled-text);
	--btn-color-hover-bg: var(--btn-disabled-hover);
	--btn-color-hover-text: var(--btn-disabled-text);
	pointer-events: none;
}
button:active {
	transform: scale(0.98);
}
.button-full {
	width: 100%;
}
.button-full:not(:last-child) {
	margin-bottom: 0.75rem;
}
.button-group {
	margin-top: 1.5rem;
}
.button-group :last-child {
	margin-bottom: 0 !important;
}
.button-group-inline {
	display: flex;
	gap: 8px;
}
.button-group-inline button {
	flex: 1;
}

/* Float */
.float-left {
	float: left;
}
.float-right {
	float: right;
}

/* Divider */
.divider {
	background-color: var(--border-divider);
}
.divider[data-orientation="vertical"] {
	width: 1px;
}
.divider[data-orientation="horizontal"] {
	height: 1px;
	background-color: var(--border-divider);
}

/* Label */
label {
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
}

/* Input */
input {
	font-size: var(--font-size-md);
	font-family: var(--font-primary);
}

/* Remove Input Number Spinner */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

/* Remove Input Number Spinner for Firefox */
input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}

/* Remove Eye Icon for Edge */
input::-ms-reveal,
input::-ms-clear {
	display: none;
}

/* Ensure no pointer for disabled or readonly input */
input:disabled,
input[readonly] {
	cursor: default;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 0.5rem;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: #a4a4a4;
	border-radius: 9999px;
	cursor: default;
	transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
	background: #7c7c7c;
}

/* No Drag */
img {
	-webkit-user-drag: none;
}

/* Header */
header {
	position: sticky;
	z-index: 3;
	top: 0;
	background-color: var(--bg-header);
	padding: 1rem 1.5rem;
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	gap: 1rem;
}
header:has(.search-container) {
	grid-template-columns: auto 1fr auto;
}
header > * {
	height: 2.125rem;
}
header .header-nav-link {
	display: block;
	cursor: pointer;
	transition: all 0.3s ease;
}
header .header-nav-link:hover {
	filter: brightness(1.6);
}
header .header-nav-link > img {
	display: block;
	height: 100%;
}
header .app-logo:hover {
	filter: brightness(1.2);
}
header .app-logo > img.small {
	display: none;
}
@media (max-width: 768px) {
	header .app-logo > img:not(.small) {
		display: none;
	}
	header .app-logo > img.small {
		display: block;
	}
}
header .search-container {
	margin: auto;
	height: 100%;
	background-color: var(--bg-pure);
	border: 1px solid var(--color-primary);
	max-width: 700px;
	width: 100%;
	border-radius: 2.125rem;
	display: grid;
	grid-template-columns: 1fr auto auto;
	align-items: center;
	overflow: hidden;
	transition: all 0.3s ease;
}
header .search-container:focus-within {
	box-shadow: var(--shadow-primary);
}
header .search-container input {
	border: none;
	background-color: transparent;
	padding-left: 1rem;
	min-width: 0;
}
header .search-container input:focus {
	outline: none;
}
header .search-container button {
	background-color: transparent;
	padding: 0;
	margin: auto;
	height: 100%;
	border-radius: 0;
}
header .search-container button[type="reset"] {
	padding: 0 0.3rem;
	display: none;
}
header .search-container button[type="reset"] img {
	height: 1.25rem;
}
header:has(.search-container:focus-within) .search-container button[type="reset"] {
	display: inline-flex;
}
header .search-container button[type="reset"]:hover {
	filter: brightness(3);
}
header .search-container button[type="submit"] {
	border-left: 2px solid var(--border-primary);
	padding: 0 0.7rem 0 0.7rem;
	background-color: var(--bg-pure);
}
header .search-container button[type="submit"] img {
	height: 1.5rem;
}
header .search-container button[type="submit"]:hover {
	background-color: var(--bg-hover);
}
header .wrapper {
	display: flex;
	gap: 1rem;
}
header .pfp {
	position: relative;
	width: 2.125rem;
	margin: 0;
	padding: 0;
	background: transparent;
}
header .pfp:hover {
	filter: none;
}
header .pfp img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	position: relative;
}
header .pfp .dropdown-menu {
	position: absolute;
	right: 0;
	top: 100%;
	background: var(--bg-pure);
	display: none;
	border-radius: 0.25rem;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
header .pfp:focus-within .dropdown-menu {
	display: block;
}
header .dropdown-menu > * {
	display: block;
	padding: 0.75rem 1rem;
	text-decoration: none;
	color: var(--text-primary);
	transition: all 0.3s ease;
	white-space: nowrap;
}
header .dropdown-menu > *:hover {
	color: var(--color-accent) !important;
}
header #back-button,
header #search-button {
	display: none;
}
@media (max-width: 500px) {
	header:has(.search-container):not(.search-active) .search-container {
		display: none;
	}
	header:has(.search-container):not(.search-active) #search-button {
		display: block;
	}
	header:has(.search-container):not(.search-active) {
		grid-template-columns: 1fr auto;
	}

	header:has(.search-container).search-active .wrapper > *,
	header:has(.search-container).search-active .wrapper:last-child {
		display: none;
	}
	header:has(.search-container).search-active #back-button {
		display: block;
	}
	header:has(.search-container).search-active {
		grid-template-columns: auto 1fr;
		gap: 0.5rem;
	}
}

/* Main */
main {
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
	padding: 1.75rem 1.5rem;
}

/* Footer */
footer {
	width: 100%;
	background-color: var(--bg-footer);
	padding: 1rem 1.5rem;
	color: var(--text-secondary);
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-areas:
		"copyright copyright"
		"info-links social-media";
	align-items: end;
}
footer span {
	grid-area: copyright;
	word-spacing: var(--letter-spacing-wider);
	margin-bottom: 1rem;
	font-weight: var(--font-weight-semibold);
}
footer .info-links-wrapper {
	container-type: inline-size;
	container-name: footer-links;
}
footer .info-links {
	grid-area: info-links;
	display: flex;
	flex-direction: row;
	gap: 0.75rem;
}
footer .social-media-icons {
	grid-area: social-media;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	gap: 0.5rem;
}
footer .social-media-icons a {
	width: 1.75rem;
	height: 1.75rem;
	display: block;
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 0.3s ease;
}
footer .social-media-icons a:hover {
	filter: brightness(0.5);
}
@container footer-links (max-width: 350px) {
	footer .info-links {
		flex-direction: column;
		gap: 0.3rem;
	}
}

/* Container */
.container {
	margin: auto;
	overflow: hidden;
	width: clamp(18rem, 100%, 100rem);
	height: max-content;
	background-color: var(--bg-pure);
	border-radius: 0.25rem;
	margin-bottom: 1.5rem;
	padding: 1.5rem;
	border: 1px solid var(--border-primary);
}
.container.horizontal-center {
	margin-left: auto;
	margin-right: auto;
}
.container[data-center-items="row"] {
	display: flex;
	align-items: center;
	justify-content: center;
}
.container[data-center-items="column"] {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.container[data-center-items="block"] > * {
	margin-left: auto;
	margin-right: auto;
}
.container[data-limit-container] {
	max-width: 40rem;
}
.container .container {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}
.container > .title {
	font-family: var(--font-display);
	font-size: 1.25rem;
	font-weight: var(--font-weight-semibold);
	margin-bottom: 2rem;
}
.container:last-child {
	margin-bottom: 0 !important;
}
.container > *:last-child {
	margin-bottom: 0 !important;
}
main > .container:first-child {
	margin-top: 40px !important;
}
main > .container:last-child {
	margin-bottom: 40px !important;
}
main > .container.container-center {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
main:has(.container-center) {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Forms */
.form-group {
	color: var(--text-label);
	margin-bottom: 1.5rem;
}
.form-group.space-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.form-group > label {
	display: block;
	font-size: 1rem;
	margin-bottom: 0.5rem;
}
.form-group .form-input {
	border: 1px solid var(--border-primary);
	border-radius: 0.25rem;
	transition: all 0.3s ease;
	overflow: hidden;
	width: 100%;
	display: flex;
	align-items: center;
}
.form-group .form-input input {
	padding: 0.5rem 1rem;
	border: none;
	width: 100%;
	background-color: transparent;
}
.form-group .form-input .password-show-button {
	flex: none;
	width: 1.5rem;
	height: 1.5rem;
}
.form-group .form-input input:focus {
	outline: none;
}
.form-group .form-input:focus-within {
	border-color: var(--border-active);
	box-shadow: var(--shadow-primary);
}
.form-group .form-input:has(input[readonly]) {
	box-shadow: none;
	background-color: var(--bg-muted);
	border-color: var(--bg-muted);
}
.form-group textarea {
	resize: none;
	font-family: var(--font-display);
	font-size: 1rem;
	padding: 1rem;
	width: 100%;
	border: 1px solid var(--border-primary);
	transition: all 0.3s ease;
}
.form-group textarea:focus {
	outline: none;
	border-color: var(--border-active);
	box-shadow: var(--shadow-primary);
}
.form-group .form-input:focus-within {
	border-color: var(--border-active);
	box-shadow: var(--shadow-primary);
}
.form-group .input-group {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}
.form-group .input-group input[type="radio"] {
	margin-top: -3px;
	margin-right: 0;
}
.form-group .field-validation-error {
	display: block;
	color: var(--text-error);
	background-color: var(--bg-error);
	font-size: 1rem;
	padding: 0.5rem 1rem;
	margin-top: 0.5rem;
	border-radius: 0.25rem;
}
.form-group:has(input[type="date"]) .field-validation-error,
.form-group:has(input[type="datetime-local"]) .field-validation-error {
	display: block;
}
.form-group:has(.field-validation-error) .form-input,
.form-group:has(.field-validation-error) textarea {
	border-color: var(--text-error);
}
.form-group:has(.field-validation-error) textarea:focus,
.form-group:has(.field-validation-error) .form-input:focus-within {
	border-color: var(--text-error);
	box-shadow: var(--shadow-danger);
}

/* Password Eye Button */
.password-show-button {
	width: 1.25rem !important;
	height: 1.25rem !important;
	background-image: url(/img/eye.png);
	background-size: contain !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	appearance: none;
	margin: 0 !important;
	margin-right: 0.4rem !important;
	padding: 0 !important;
	cursor: pointer !important;
	transition: all 0.3s ease;
}
.password-show-button:hover {
	filter: brightness(2);
}
.password-show-button:checked {
	background-image: url(/img/eye_off.png) !important;
}

/* Toast Message */
.toast-container {
	position: fixed;
	top: 8rem;
	left: 50%;
	translate: -50% 0;
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.toast {
	background-color: var(--bg-toast);
	color: var(--text-inverse);
	padding: 0.75rem 1.25rem;
	margin: 0.375rem;
	border-radius: 0.25rem;
	opacity: 0;
	transition: all 0.5s ease;
	transform: translateY(-1.25rem);
	width: clamp(6rem, max-content, 25rem);
}
.toast.show {
	opacity: 1;
	transform: translateY(0);
}

/* OVERLAY */
.overlay {
	pointer-events: all;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
	z-index: 4;
}
.overlay.show {
	display: flex;
	opacity: 1;
}
.overlay .content {
	background-color: var(--bg-pure);
	border-radius: 0.25rem;
	padding: 2rem;
	width: clamp(12.5rem, 70vw, 35rem);
}
.overlay-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
	min-width: 12.5rem;
}
.overlay > title {
	font-family: var(--font-display);
	font-size: 1.25rem;
	font-weight: var(--font-weight-semibold);
	margin-bottom: 0;
}
.overlay-close {
	background-image: url("/img/cross.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
}
.overlay-close:hover {
	filter: brightness(4);
}
.overlay-body {
	overflow-y: auto;
	max-height: calc(60vh + 20rem);
}

/* Confirmation Popup */
#confirmation-popup {
	z-index: 6;
}
#confirmation-popup .content {
	width: clamp(12.5rem, 70vw, 25rem);
}
#confirmation-popup .title {
	font-size: 1.25rem;
	font-weight: var(--font-weight-medium);
	margin-bottom: 1.25rem;
	font-family: var(--font-display);
}

/* Upload Overlay */
.upload-overlay {
	z-index: 5;
}
.upload-overlay .content {
	width: max-content;
}
.upload-overlay .upload-drop-zone {
	width: 16rem;
	height: 16rem;
	border: 2px dashed var(--border-primary);
	border-radius: 0.5rem;
	padding: 2rem;
	text-align: center;
	cursor: pointer;
	transition: all 0.3s ease;
	display: none;
	align-items: center;
	justify-content: center;
}
.upload-overlay .upload-drop-zone.show {
	display: flex;
}
.upload-overlay .upload-drop-zone:hover,
.upload-overlay .upload-drop-zone.drag-over {
	border-color: var(--border-active);
	background-color: var(--bg-upload);
}
.upload-overlay .upload-preview-zone {
	display: none;
	width: max-content;
	height: max-content;
	flex-direction: column;
	gap: 1.25rem;
	align-items: center;
}
.upload-overlay .upload-preview-zone.show {
	display: flex;
}
.upload-overlay .upload-preview-container {
	position: relative;
	border: 2px dashed var(--border-primary);
	overflow: hidden;
	background-color: transparent;
}
.upload-overlay .upload-preview-container .upload-preview-image {
	position: absolute;
	cursor: grab;
	-webkit-user-select: none;
	user-select: none;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: none;
}
.upload-overlay .upload-preview-container .upload-preview-image.horizontal-fit {
	width: 100%;
	object-fit: cover;
}
.upload-overlay .upload-preview-container .upload-preview-image.vertical-fit {
	height: 100%;
	object-fit: cover;
}
.upload-overlay .upload-preview-container .upload-preview-image.dragging {
	cursor: grabbing;
}
.upload-overlay .pfp-circle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: var(--shadow-pfp);
	pointer-events: none;
}
.upload-overlay .zoom-slider {
	width: 100%;
}
