@section head {
    <style>
        [data-manage-container="table"] tbody tr td:nth-child(1) {
            grid-area: id;
        }

        main.mobile [data-manage-container="table"] tbody tr td:nth-child(1)::before {
            content: "ID: ";
        }

        [data-manage-container="table"] tbody tr td:nth-child(2) {
            grid-area: name;
        }

        [data-manage-container="table"] tbody tr td:nth-child(3) {
            grid-area: email;
        }

        [data-manage-container="table"] tbody tr td:nth-child(4) {
            grid-area: status;
        }

        [data-manage-container="table"] tbody tr td:nth-child(5) {
            grid-area: creation-date;
        }

        [data-manage-container="table"] tbody tr td:last-child {
            grid-area: action;
        }

        main.mobile [data-manage-container="table"] tbody tr {
            grid-template-areas:
                "name name"
                "email email"
                "creation-date creation-date"
                ". status"
                "id action"
            ;
            grid-template-columns: 1fr auto;
        }
    </style>
}

<form class="container" data-no-color data-no-padding>
    <div class="container" data-manage-container="query">
        <div class="title">Manage Customers</div>

        <div class="form-group">
            <div class="input-group search-container">
                <div class="form-input">
                    <input data-clear-form-ignore />
                    <button type="submit">
                        <img src="/img/search.png" alt="Search">
                    </button>
                </div>
                <div class="custom-select">
                    <select>
                        <option value="1" selected>Search By Name</option>
                        <option value="2">Search By Email</option>
                        <option value="3">Search By Id</option>
                    </select>
                </div>
                <div id="filter" data-button>Filter</div>
            </div>
        </div>
    </div>

    <div id="manage-results" class="container" data-manage-container="table" data-responsive-container>
        <table>
            <thead>
                <tr>
                    <th class="asc selected">
                        <a href="/Customer/Manage?Dir=desc&amp;Sort=Id&amp;Page=1&amp;SearchOption=name"
                            data-ajax="true" data-ajax-update="#manage-results">Id</a>
                    </th>
                    <th class="asc ">
                        <a href="/Customer/Manage?Dir=asc&amp;Sort=Name&amp;Page=1&amp;SearchOption=name"
                            data-ajax="true" data-ajax-update="#manage-results">Name</a>
                    </th>
                    <th class="asc ">
                        <a href="/Customer/Manage?Dir=asc&amp;Sort=Email&amp;Page=1&amp;SearchOption=name"
                            data-ajax="true" data-ajax-update="#manage-results">Email</a>
                    </th>
                    <th class="asc ">
                        <a href="/Customer/Manage?Dir=asc&amp;Sort=Status&amp;Page=1&amp;SearchOption=name"
                            data-ajax="true" data-ajax-update="#manage-results">Status</a>
                    </th>
                    <th class="asc ">
                        <a href="/Customer/Manage?Dir=asc&amp;Sort=Creation%20Date&amp;Page=1&amp;SearchOption=name"
                            data-ajax="true" data-ajax-update="#manage-results">Creation Date</a>
                    </th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>abcafewaf</td>
                    <td>malaysiasuperme@gmail.com</td>
                    <td>
                        <div class="status-text-container banned">Banned</div>
                    </td>
                    <td>17 Sep 2025</td>
                    <td>
                        <div class="button-group-inline">
                            <a href="/Customer/Edit/1" data-button="accent">Edit</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>123🙂😦✅</td>
                    @* <td>liewwenjing34882@gmail.com</td> *@
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique illum doloremque nam.
                        Sapiente iusto nostrum dignissimos voluptate, accusantium obcaecati doloremque!</td>
                    <td>
                        <div class="status-text-container active">Active</div>
                    </td>
                    <td>26 Sep 2025</td>
                    <td>
                        <div class="button-group-inline">
                            <a href="/Customer/Edit/8" data-button="accent">Edit</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="pagination-container">
        <ul class="pagination">
            <li class="PagedList-skipToFirst disabled"><a>
                    <div class="paging-symbol first"></div>
                </a></li>
            <li class="PagedList-skipToPrevious disabled"><a rel="prev">
                    <div class="paging-symbol prev"></div>
                </a></li>
            <li class="active"><span>1</span></li>
            <li class=""><span>201</span></li>
            <li class=""><span>2</span></li>
            <li class=""><span>2</span></li>
            <li class=""><span>2</span></li>
            <li class="PagedList-skipToNext disabled"><a rel="next">
                    <div class="paging-symbol next"></div>
                </a></li>
            <li class="PagedList-skipToLast disabled"><a>
                    <div class="paging-symbol last"></div>
                </a></li>
        </ul>
    </div>
</form>