<div class="container" data-no="padding color">
    <div class="title">My Cart</div>

    <partial name="_NoResults" model="@("Your cart is empty")" />

    <div class="container listing-container" data-no="padding color" data-result-container>
        @for (int i = 0; i < 10; i++)
        {
            var card = new StoreCard
            {
                Link = "/",
                Image = "",
                Name = "store",
                Rating = 4.9m,
                ItemCount = i
            };
            <partial name="_StoreCard" model="@card" />
        }
    </div>
</div>