@model CartStoreVM

@section head {
    <style>
        input[type="checkbox"] {
            margin: 0;
            padding: 0;
            width: 1.2rem;
            height: 1.2rem;
        }

        label:has(#select-all-checkbox) {
            display: flex;
            gap: 1rem;
        }

        .delete-button {
            display: block;
            width: 2rem;
            height: 2rem;
            background-image: url("/img/delete.png");
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            transition: all 0.3s ease;
            position: relative;
            cursor: pointer;
        }

        .delete-button:hover,
        .delete-button:hover {
            background-image: url("/img/delete_red.png");
        }

        .cart-item-container {
            display: grid;
            grid-template-columns: auto auto 1fr auto auto auto;
            grid-template-areas: "checkbox img info price quantity delete";
            align-items: center;
            column-gap: 1rem;
            overflow-wrap: anywhere;
        }

        .cart-item-container>input[type="checkbox"] {
            grid-area: checkbox;
        }

        .cart-item-container>label:has(img) {
            grid-area: img;
        }

        .cart-item-container>label:has(img) img {
            width: clamp(4.5rem, 10vw, 7rem);
            aspect-ratio: 1/1;
        }

        .cart-item-container>.info {
            grid-area: info;
        }

        .cart-item-container .item {
            font-size: 1.15rem;
            font-weight: var(--font-weight-semibold);
            font-family: var(--font-display);
            margin-bottom: 0.2rem;
            color: var(--text-primary) !important;
        }

        .cart-item-container .variant {
            color: var(--text-secondary);
        }

        .cart-item-container>.price {
            grid-area: price;
            color: var(--text-price);
            text-shadow: var(--shadow-price);
            font-size: 1.2rem;
            font-weight: var(--font-weight-medium);
            font-family: var(--font-display);
        }

        .cart-item-container>.price::before {
            content: "RM";
            color: var(--text-price);
            font-family: var(--font-primary);
            font-size: 0.9rem;
            font-weight: var(--font-weight-bold);
            margin-right: 0.25rem;
        }

        .cart-item-container>.quantity {
            grid-area: quantity;
            width: 9rem;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            justify-self: end;
            position: relative;
        }

        .cart-item-container>.quantity:has(.field-validation-error) {
            min-height: 7.5rem;
        }

        .cart-item-container>.quantity .form-input {
            align-self: center;
            justify-self: center;
            grid-area: 1 / 1;
        }

        .cart-item-container .error {
            font-size: 0.9rem;
            align-self: end;
            grid-area: 1 / 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: none;
            text-align: center;
        }

        .cart-item-container .field-validation-error {
            display: block;
        }

        .cart-item-container>.delete-button {
            grid-area: delete;
        }

        .cart-item-container .form-group {
            margin-bottom: 0;
        }

        @@media (max-width: 680px) {
            .cart-item-container {
                grid-template-columns: auto auto 1fr auto;
                grid-template-areas:
                    "checkbox img info delete"
                    "price price quantity quantity"
                ;
                row-gap: 1.5rem;
            }

            .cart-item-container>.price,
            .cart-item-container>.quantity {
                align-self: baseline;
                min-height: unset !important;
            }

            .cart-item-container .error {
                grid-area: 2/1;
            }
        }
    </style>
}

@{
    var storeDetails = new StoreDetailsContainerDM
    {
        Image = $"/uploads/store/{Model.Store.Image}",
        Name = Model.Store.Name,
        Slug = Model.Store.Slug,
        Rating = Model.Store.Items.SelectMany(i => i.Reviews).Average(r => (decimal?)r.Rating) ?? 0m,
        TotalReviews = Model.Store.Items.SelectMany(i => i.Reviews).Count(),
        Venue = Model.Store.Venue.Name,
        JoinedAt = Model.Store.CreatedAt,
        ViewStoreButton = true
    };
}

<partial name="_StoreDetailsContainer" model="storeDetails" />

<div class="container">
    <div class="container" data-flex="gap between" data-no="padding">
        <label>
            <input type="checkbox" id="select-all-checkbox" />
            <span>Select All</span>
        </label>
        <div>
            <div id="multiple-delete" class="delete-button"></div>
        </div>
    </div>
</div>

<form action="@Url.Action("Checkout")" method="post" data-ajax="true" data-ajax-success="checkoutSuccess"
    data-ajax-failure="defaultOnFailure">
    <input type="hidden" asp-for="Id">

    @foreach (var cItem in Model.CartItems)
    {
        string? errorText = null;
        if (cItem.Quantity < 1 || cItem.Quantity > 10)
        {
            errorText = "Invalid value";
        }
        else if (cItem.Quantity > cItem.Variant.Stock)
        {
            errorText = "Not enough stock";
        }

        var card = new CardItemContainerDM
        {
            Id = cItem.Variant.Id,
            Slug = cItem.Variant.Item.Slug,
            ItemName = cItem.Variant.Item.Name,
            VariantName = cItem.Variant.Name,
            Image = $"/uploads/variant/{cItem.Variant.Image}",
            Price = cItem.Variant.Price,
            Quantity = cItem.Quantity,
            Error = errorText
        };
        <partial name="_CartItemContainer" model="@card" />
    }

    @{
        var summary = new SummaryContainerDM
        {
            TotalPrice = 0,
            TotalItems = 0,
            SubmitText = "Checkout"
        };
    }
    <div id="ajax-result-container" data-sticky-bottom>
        <partial name="_SummaryContainer" model="summary" />
    </div>
</form>

@section foot {
    <script>
        const mainForm = $("main > form")

        $("#select-all-checkbox").on("change", function () {
            $("main > form input[type='checkbox']").prop("checked", this.checked)
        })

        $("main > form input[type='checkbox']").on("change", function () {
            $("#select-all-checkbox").prop("checked",
                $("main > form input[type='checkbox']").length ===
                $("main > form input[type='checkbox']:checked").length
            )


            mainForm.attr("method", "get")
            mainForm.submit()
            mainForm.attr("method", "post")
        })

        $(document).on("change input", "main > form input[type='number']", function () {
            const quantity = $(this).val()
            const variantId = $(this).closest(".cart-item-container").find("input[type='checkbox']").val()
            const errorEle = $(this).closest(".form-group").find(".error")

            // update quantity
            $.ajax({
                url: "/Cart/UpdateQuantity",
                method: "POST",
                data: { id: variantId, quantity },
                success: function (data, status, xhr) {
                    errorEle.removeClass("field-validation-error")
                    errorEle.text("")
                },
                error: function (xhr, status, error) {
                    errorEle.text(xhr.responseText)
                    errorEle.addClass("field-validation-error")
                },
            })

            mainForm.attr("method", "get")
            mainForm.submit()
            mainForm.attr("method", "post")
        })

        function checkoutSuccess(data, status, xhr) {
            $("#ajax-result-container").html(data);

            if (!xhr) return

            try {
                var redirectUrl = xhr.getResponseHeader("X-Redirect-Url")
                if (redirectUrl) {
                    window.location.href = redirectUrl
                }
            } catch (e) { }
        }

        $("#multiple-delete").on("click", async function () {
            if ($("main > form input[type='checkbox']:checked").length === 0) return

            if (!await confirmation("Are you sure you want to remove all selected items from your cart?")) return

            $("main > form input[type='checkbox']:checked").each(function () {
                $.ajax({
                    url: "/Cart/RemoveItem",
                    method: "POST",
                    data: { id: $(this).val() }
                })
            })

            reloadPage()
        })
    </script>
}