@section head {
    <style>
        .container.cartstore {
            display: grid;
            grid-template-columns: 150px 1fr;
            grid-template-areas: "img storename";
            gap: 1rem;
        }

        .container.cartstore>img {
            grid-area: img;
            width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }

        .container.cartstore>.storename {
            grid-area: storename;
            font-family: var(--font-display);
            font-size: 1.25rem;
            font-weight: var(--font-weight-normal);
            margin: 0 0 0 1.5rem;
            align-content: center;
            word-break: break-word;
        }

        .select-all-container {
            display: flex;
        }

        .select-all-container>#select-all-items {
            width: 1rem;
            height: 1rem;
        }

        .select-all-container>label {
            margin-top: 0.15rem;
        }

        .delete-button {
            width: 1.2rem;
            height: 1.2rem;
            margin-top: 0.15rem;
            margin-left: auto;
            background-color: transparent;
            border: none;
            padding: 0;
            cursor: pointer;
        }

        .delete-button>img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .container.items {
            display: grid;
            grid-template-columns: 150px 1fr;
            grid-template-areas: "img info";
            gap: 1rem;
            padding: 1rem;
        }

        .container.items>img {
            grid-area: img;
            width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }

        .product-info-container {
            grid-area: info;
            display: flex;
            flex-direction: column;
            height: 100%;
            min-width: 0;
        }

        .product-info-container>.name {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        .product-info-container>.name>span {
            font-weight: bold;
            font-size: 1.8rem;
            padding: 0.5rem;
        }

        .product-info-container>.price {
            font-size: 1rem;
            padding: 0.5rem;
        }

        .product-info-container>.price::before {
            content: "RM";
        }

        .product-info-container>.quantity-container {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0.5rem;
            margin-top: auto;
        }

        .product-info-container>.quantity-container>button {
            width: 0.8rem;
            height: 1.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .product-info-container>.quantity-container>.quantity-number {
            text-align: center;
            width: 2rem;
        }
    </style>
}

@{
    var storeDetails = new StoreDetailsContainerDM
    {
        Image = "abc",
        Name = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, labore nisi! Repellat itaque minus enim tempore, amet recusandae blanditiis eius!",
        Slug = "slug",
        Rating = 2.0m,
        TotalReviews = 123828319,
        Venue = "Red Brick",
        JoinedAt = DateTime.Now,
        ViewStoreButton = true
    };
}

<partial name="_StoreDetailsContainer" model="storeDetails" />

<div class="container cartstore">
    <img src="" alt="">
    <div class="storename">
        Store Namesfeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
    </div>
</div>

<div class="container" data-less="padding">
    <div class="select-all-container">
        <input type="checkbox" id="select-all-items" />
        <label for="select-all-items">Select All</label>
        <button class="delete-button">
            <img src="/img/delete.png" alt="Delete items">
        </button>
    </div>
</div>

<div class="container items">
    <img class="" src="">
    <div class="product-info-container">
        <div class="name">
            <span>ABC</span>
            <button class="delete-button">
                <img src="/img/delete.png" alt="Delete items">
            </button>
        </div>
        <div class="price">123</div>
        <div class="quantity-container">
            <button class="minus-quantity">-</button>
            <div class="quantity-number"> 123 </div>
            <button class="add-quantity">+</button>
        </div>
    </div>
</div>