@model ManageVariantVM

@section head {
    <style>
        [data-manage-container="table"] tbody tr td:nth-child(1) {
            grid-area: id;
        }

        main.mobile [data-manage-container="table"] tbody tr td:nth-child(1)::before {
            content: "ID: ";
        }

        [data-manage-container="table"] tbody tr td:nth-child(2) {
            grid-area: name;
        }

        [data-manage-container="table"] tbody tr td:nth-child(3) {
            grid-area: price;
        }

        [data-manage-container="table"] tbody tr td:nth-child(4) {
            grid-area: status;
        }

        [data-manage-container="table"] tbody tr td:nth-child(5) {
            grid-area: stock-count;
        }

        main.mobile [data-manage-container="table"] tbody tr td:nth-child(5)::before {
            content: "Stock Count: ";
        }

        [data-manage-container="table"] tbody tr td:nth-child(6) {
            grid-area: creation-date;
        }

        [data-manage-container="table"] tbody tr td:last-child {
            grid-area: action;
        }

        main.mobile [data-manage-container="table"] tbody tr {
            grid-template-areas:
                "name name"
                "price price"
                "creation-date creation-date"
                ". status"
                ". action"
                "stock-count action"
                "id action"
            ;
            grid-template-columns: 1fr auto;
        }
    </style>
}

<form data-ajax="true" data-ajax-update="#ajax-result-container" data-ajax-complete="closeOverlay('filter-overlay')"
    class="container" data-no="color padding">
    <input type="hidden" name="Page" value="1" data-clear-form-ignore>
    
    <div id="filter-overlay" class="overlay sidebar-overlay">
        <div class="content">
            <div class="header">
                <div class="title">Filter By</div>
                <div class="close"></div>
            </div>

            <div class="body">
                <div class="form-group">
                    <label>Status</label>
                    <div class="custom-tick-container center-text-container small-text rounded-border">
                        @foreach (var status in Model.AvailableStatuses)
                        {
                            <label>
                                <input type="radio" value="@status" asp-for="Status">
                                <div>
                                    <div class="text">@status</div>
                                </div>
                            </label>
                        }
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="MinPrice"></label>
                    <div class="form-input">
                        <input asp-for="MinPrice" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="MaxPrice"></label>
                    <div class="form-input">
                        <input asp-for="MaxPrice" />
                    </div>
                </div>
            </div>

            <div class="button-group">
                <button type="button" data-button="accent" data-clear-form>Reset</button>
                <button type="submit" data-button>Apply</button>
            </div>
        </div>
    </div>


    <div class="container" data-manage-container="query">
        <div class="title">Manage Variants - @ViewBag.ItemName</div>

        <div class="form-group">
            <div class="input-group search-container">
                <div class="form-input">
                    <input asp-for="Search" data-clear-form-ignore />
                    <button type="submit">
                        <img src="/img/search.png" alt="Search">
                    </button>
                </div>
                <div class="custom-select">
                    <select asp-for="SearchOption" asp-items="Model.AvailableSearchOptions"></select>
                </div>
                <a href="/Variant/Add/@Model.Id" data-button="info">Add Variant</a>
                <button type="button" id="filter-button">
                    Filter
                    <img src="/img/filter.png">
                </button>
            </div>
        </div>
    </div>

    <div id="ajax-result-container">
        <partial name="_Manage" model="@Model" />
    </div>
</form>