@model ActivityLogCardDM

<div class="log-item">
    <div class="icon">@Model.Icon</div>
    <h4>@Model.Name</h4>
    <p>@Model.Details</p>
    <span>@FormatHelper.GetRelativeTime(Model.CreatedAt)</span>
</div>