@model AdminHomePageVM

@using Superchef.Services
@inject GenerateLinkService GenerateLinkService

<div class="container" data-no="padding color margin" data-flex="gap column center" data-result-container>
    @foreach (var log in Model.ActivityLogs)
    {
        var card = new ActivityLogCardDM
        {
            Icon = log.Icon,
            Name = log.Account.Name,
            Details = log.Details,
            CreatedAt = log.CreatedAt,
        };

        <partial name="_ActivityLogCard" model="@card" />
    }
</div>

@Html.PagedListPager(Model.ActivityLogs,
page => GenerateLinkService.GetPageLink("Admin", "Home", page.ToString()),
PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(ManagePageHelper.GetPagedOption(),
ManagePageHelper.GetAjaxOption())
)