@model HomePageVM

@{
    ViewBag.Title = "Home | Superchef";
}

<div class="container">
    <div class="title">Trending</div>
    <div class="listing-container container" data-no="color padding" data-result-container>
        @foreach (var item in Model.TrendingItems)
        {
            var card = new ItemCardDM
            {
                Link = $"/Item/Info/{item.Slug}",
                Image = item.Image,
                Name = item.Name,
                Price = item.Variants.Min(v => v.Price),
                Rating = item.Reviews.Any() ? (decimal)item.Reviews.Average(r => r.Rating) : 0m,
                Sold = item.Variants.Sum(v => v.OrderItems.Sum(oi => oi.Quantity))
            };
            <partial name="_ItemCard" model="@item" />
        }
    </div>
</div>


<div class="container">
    <div class="title">Categoty</div>
    <div class="listing-container container" data-no="color padding" data-result-container>
        @foreach (var category in Model.Categories)
        {
            var card = new CategoryCardDM
            {
                Link = $"/Search?Categories={category.Id}",
                Image = category.Image,
                Name = category.Name,
            };
            <partial name="_CategoryCard" model="@card" />
        }
    </div>
</div>

@if (ViewBag.Authenticated == true)
{
    <div class="container">
        <div class="title">Order Again</div>
        <div class="listing-container container" data-no="color padding" data-result-container>
            @foreach (var item in Model.OrderAgainItems)
            {
                var card = new ItemCardDM
                {
                    Link = $"/Item/Info/{item.Slug}",
                    Image = item.Image,
                    Name = item.Name,
                    Price = item.Variants.Min(v => v.Price),
                    Rating = item.Reviews.Any() ? (decimal)item.Reviews.Average(r => r.Rating) : 0m,
                    Sold = item.Variants.Sum(v => v.OrderItems.Sum(oi => oi.Quantity))
                };
                <partial name="_ItemCard" model="@item" />
            }
        </div>
    </div>
}

<div class="container">
    <div class="title">Daliy Discover</div>
    <div class="listing-container container" data-no="color padding" data-result-container>
        @foreach (var item in Model.DailyDiscoverItems)
        {
            var card = new ItemCardDM
            {
                Link = $"/Item/Info/{item.Slug}",
                Image = item.Image,
                Name = item.Name,
                Price = item.Variants.Min(v => v.Price),
                Rating = item.Reviews.Any() ? (decimal)item.Reviews.Average(r => r.Rating) : 0m,
                Sold = item.Variants.Sum(v => v.OrderItems.Sum(oi => oi.Quantity))
            };
            <partial name="_ItemCard" model="@item" />
        }
    </div>
</div>