<div class="container" data-no="padding color">
    <div class="container" data-no="padding color" data-flex="gap between">
        <div class="title" data-no="margin">My Store</div>
        <a href="" data-button="info">Add Store</a>
    </div>


    <partial name="_NoResults" model="@("You have no store")" />

    <div class="container listing-container" data-no="padding color" data-result-container>
        @for (int i = 0; i < 10; i++)
        {
            var card = new StoreCard
            {
                Link = "/",
                Image = "",
                Name = "store",
                Rating = 4.9m,
                ItemCount = i,
                DeleteLink = "/",
                DeleteMsg = "Are you sure you want to delete this store?"
            };
            <partial name="_StoreContainer" model="@card" />
        }
    </div>
</div>