@model List<Store>

@{
    ViewBag.Title = "Home | Superchef";
    var returnUrl = ViewBag?.ReturnUrl as string;
}

<div class="container" data-no="padding color">
    <div class="container" data-no="padding color" data-flex="gap between">
        <div class="title" data-no="margin">My Store</div>
        <a href="@Url.Action("Add", "Store")" data-button="info">Add Store</a>
    </div>

    <partial name="_NoResults" model="@("You have no store")" />

    <div class="container listing-container" data-no="padding color" data-result-container>
        @foreach (var store in Model)
        {
            var card = new StoreCardDM
            {
                Link = $"/Store/Select/{store.Id}{(returnUrl != null ? $"?ReturnUrl={returnUrl}" : "")}",
                Image = $"/uploads/store/{store.Image}",
                Name = store.Name,
                Rating = store.Items.SelectMany(i => i.Reviews).Average(r => (decimal?)r.Rating) ?? 0m,
                ItemCount = store.Items.Count(i => !i.IsDeleted),
                DeleteLink = $"/Store/Delete/{store.Id}",
                DeleteMsg = "Are you sure you want to delete this store?"
            };
            <partial name="_StoreCard" model="@card" />
        }
    </div>
</div>